<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <style>
        body{
            background-color: darkseagreen;
            font: normal 15pt Arial;
        }
        p{
            text-align: center;
        }
        header{
            text-align: center;
            font-size: 25px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <!--Layout template -->
    {{{body}}}
</body>
</html>
